*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*position relative*/
/*position absolute*/

.firstDiv{
    padding: 20px;
    position: relative;
}

.firstDiv p{
    position: absolute;
    top: 10px;
    left: 35px;
    background-color: orange;
    border-radius: 50%;
    padding: 5px 10px;
}

.firstDiv div i{
    font-size: 30px;
}